.App {
    display: flex;
    flex-direction: row;
    min-height: 100%;
}

.roll-zone {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 50px;
    
    .current-player {
        display: flex;
        justify-content: center;
        
        .current-player-name {
            font-weight: bold;
            font-size: 45px;
        }
    }
    
    .dices-to-roll, .dices-locked-content, .roll-result-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 150px;

        margin-top: 40px;
    }

    .dices-to-roll {
        justify-content: center;
    }

    .roll-info-zone {

        .remaining-rolls-sentence {
            font-style: italic;
        }
    
        .roll-btn {
            margin: 0 0 0 020px;
        }
    
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .dices-locked-title {
        text-align: center;
    }
}
.scoring-board-zone {
    border-left: 1px solid black;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    .scoring-board-title {
        text-align: center;
    }
}